
.srd-default-node__out .name {
    display: none;
}

.srd-default-port.srd-default-port--in {
    font-size:0.9rem;
    display: flex;
    justify-content: space-between;
}

.srd-default-node__out .name{ display: none; }
.srd-default-port.srd-default-port--out, .srd-default-port.srd-default-port--in  {
background: transparent;
}

.srd-default-node{
        min-width: 200px;
        min-height: 100px;
        /* display: flex; */
        /* flex-direction: column; */
        /* justify-content: space-between; */
        border: 2px solid gray;
        overflow: hidden;
        padding-bottom: 5px;
}

      .srd-port.port{
        background: #fcfcfc;
        border-radius: 50%;
        border: 1px solid #555050;
      }

.srd-default-port{
    background: #7a7a7a;
    padding: 4px;
    margin-top:5px; 
}
.srd-default-node__title {
    border-radius: 4px 4px 0px 0px;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: rgb(0, 0, 0); 
    white-space: normal;
    text-align: center;
}
.srd-default-node__name {
    font-size: 14px;
    padding-left: 10px;
    color: #c2c2c2;
}
.srd-default-node__ports {
    background: transparent;
    margin-top: 4px;
}
.srd-default-port--in{
    border-radius: 0px 4px 4px 0px;
    margin-right: 8px;
}
.srd-default-port--in .name{
    padding-left: 4px;
    padding-right: 4px;
}
.srd-default-port--out{
    border-radius: 4px 0px 0px 4px;
    margin-left: 8px;
}
.srd-default-port--out .name{
    padding-right: 4px;
    padding-left: 4px;
}

.srd-demo-canvas{
    min-height: calc(100vh - 90px);
}

.new_connection_head{
    padding: 12px;
    padding-top: 9px;
    background: #efefef;
    border-radius: 9px;
    text-align: center;
}

.srd-demo-workspace{
    height: 100vh;
    border-radius: 0px;
}

.srd-demo-workspace__toolbar{
    background: #fff;
}
.srd-default-node__title + div > div >.srd-default-node__inout_port_name {
    background: #fff;
    margin: 6px 0px;
    color: #000;
    padding: 8px 10px;
    border-radius: 50px;
    font-weight: bold;
width: 100%;
text-align: center;
}
.srd-default-node__title + div > div > .srd-default-port--in{
margin: 0px;
}
.srd-default-node__title + div > div > .srd-default-port--out{
    margin: 0px;
    line-height: 21px !important;
    padding-top: 8px;
    padding-bottom: 7px;
    }


a:hover{
    text-decoration: none !important;
}


body{
    overflow: hidden;
}

.hv-100{
    min-height: 100vh;
}

.integrtrApp .headerNavBar{
    background-color: #2C4E6C !important;
}

.integrtrApp .appTitle{
    color: white !important;
    font-size: 1.15rem;
}

.integrtrApp .navbar-brand{
    padding-top: 0px;
    padding-bottom: 0px;
}

.integrtrApp .integrtrLogo{
    width: 115px;
    margin-top: 10px;
}


.srd-default-node__in .port.srd-port{
    background: #c5e1a5;
}

.srd-default-node__out .port.srd-port{
    background: #80deea;
}

div[data-node="source"] .srd-default-node__title{
    background: #0288D1;
}

div[data-node="source"] .srd-default-node__name {
    color:white;
}

div[data-node="target"] .srd-default-node__title{
    background: #C0CA33;
}

div[data-node="target"] .srd-default-node__name {
    color:black;
}

div[data-node="target"] .srd-default-node__subtitle {
    color:black;
}